@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    /* primary */
    --dark-cyan: hsl(158, 38%, 37%);
    --cream: hsl(30, 38%, 92%);
    /* neutral */
    --very-drk-blue: hsl(212, 21%, 14%);
    --drk-gray-blue: hsl(228, 12%, 48%);
    --white: hsl(0, 0%, 100%);
    /* fonts */
    --fraunces: 'Fraunces', sans-serif; /* 700 */
    --montserrat: 'Monterrat', sans-serif;  /* 500, 700 */
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--cream);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: var(--white);
    align-items: center;
    max-width: 580px;
    margin: 50px auto;
    border-radius: 10px;
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.prod-image img {
    width: 100%;
    height: auto;
    display: block;
}

.prod-details {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 10px;
}

.product {
    font-family: var(--montserrat);
    color: var(--drk-gray-blue);
    letter-spacing: 6px;
    font-size: 12px;
    font-weight: 500;
}

.title {
    font-family: var(--fraunces);
    color: var(--very-drk-blue);
    margin: 10px 0;
    line-height: 1;
    font-weight: 700;
}

.desc {
    margin: 15px 0;
    font-size: 16px;
    color: var(--drk-gray-blue);
    font-family: var(--montserrat);
    line-height: 1.75;
    font-weight: 500;
}

.price {
    margin: 10px 0;
    display: flex;
    align-items: center;
    gap: 16px;
}

.new-price {
    font-family: var(--fraunces);
    font-weight: 700;
    font-size: 30px;
    color: var(--dark-cyan);
}

.old-price {
    font-family: var(--montserrat);
    color: var(--drk-gray-blue);
    font-size: 14px;
    text-decoration: line-through;
}

.btn {
    background-color: var(--dark-cyan);
    color: var(--white);
    font-family: var(--montserrat);

    font-size: 15px;
    font-weight: 700;
    border: none;
    padding: 15px;
    border-radius: 9px;
    width: 100%;
    cursor: pointer;
}

.btn:hover {
    background-color: hsl(158, 17%, 69%);
    transition: background 0.3s ease-in-out;

}

.btn img {
    margin: 0 6px;
    vertical-align: text-top;
}

footer {
    position: absolute;
    bottom: 0;
    padding: 10px;
    text-align: center;
    left: 0;
    right: 0;
}

footer a {
    text-decoration: none;
    color: black;
}

@media (max-width: 768px) {
    .container {
        grid-template-columns: 1fr;
        max-width: 340px;
    }

    .prod-details {
        padding: 15px;
    }

    .title {
        font-size: 32px;
    }

    .desc {
        font-size: 16px;
    }

    footer {
        font-size: 12px;
        padding: 8px;
    }
}